streamlit
pandas
joblib
smtplib
email.mime.multipart
MIMEMultipart
email.mime.text
MIMEText
imaplib
email
email.header
decode_header	
numpy
sklearn.model_selection
train_test_split
sklearn.svm
SVC
sklearn.metrics
accuracy_score 
classification_report
confusion_matrix
matplotlib.pyplot
seaborn
sklearn.feature_extraction.text
TfidfVectorizer